@import url("https://fonts.googleapis.com/css?family=Raleway|Allura|Kranky|Roboto|Oxygen|Cabin:700|Rosario");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************* CSS RESETS ENDS HERE ************************/

/******************* MY CSS STARTS HERE **************************/

body {
	background: #5C258D; /* fallback for old browsers */
	background: url('hue.jpg') no-repeat;
}

.icons {
	margin-top: 20px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.fa {
	padding-left: 20px;
	margin-bottom: -15%;
}

.fa-twitter {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-twitter:hover {
	color: #55acee;
}

.fa-facebook-official {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-facebook-official:hover {
	color:#3b5998;
}

.fa-github {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-github:hover {
	color:black;
}

.fa-google-plus {
	color: white;
	font-size: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.fa-google-plus:hover {
	color:#dc4e41;
}

.container {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}
.square {
	padding: 7px;
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 70px;
	vertical-align: middle;
	font-family: Kranky;
	-webkit-user-select: none;
	-moz-user-select: none;
}

table {
	margin-top: 10%;
}

table tr td {
	border: 5px solid rgba(185, 200, 255, 0.13);
}

h1 {
	
	color: white;
	font-size: 40px;
	font-family: Raleway;
	font-weight: bold;
	padding-top: 10%;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#message {
	font-size: 30px;
	padding-top: 5%;
	width: auto;
	color: white;
	font-family: Oxygen;
	-webkit-user-select: none;
	-moz-user-select: none;
}